body {
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    color: #fff;
}

a.show:hover {
    color: $dc_blue;
}
a.edit:hover {
    color: yellow;
}
a.delete:hover {
    color: red;
}
