.top-nav {
    display: flex;
    justify-content: flex-end;
    background-color: $dc_blue;

    li {
        width: 180px;
        height: 40px;
        transform: skew(-20deg);
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            transform: skew(20deg);
        }
    }
}

nav ul {
    align-self: stretch;
    height: 100%;
}

nav li {
    margin: 0 0.5rem;
    height: 100%;
    display: grid;
    place-items: center;
    position: relative;

    .active {
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: $dc_blue;
        bottom: 0;
        left: 0;
        transform: translateY(330%);
    }
}

nav input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $dc_blue;
    text-align: right;
    padding-right: 25px;

    &::placeholder {
        font-weight: 700;
        color: $dc_dark !important;
        font-size: 1.1rem;
        opacity: 1;
    }
}

nav {
    .input {
        position: relative;

        span {
            position: absolute;
            top: 50%;
            right: 3px;
            transform: translateY(-50%);
        }
    }
}
// nav li:nth-child(2) {
//     border-bottom: 4px solid $dc_blue;
// }
