// Fonts
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// my scss
@import "my_vars";
@import "common";
@import "nav";
@import "footer";
@import "articles";
@import "series";

div.carousel {
    background-color: $dc_dark;

    .carousel-top {
        position: relative;
        width: 100%;

        li {
            font-weight: 700;
        }

        li:first-child {
            color: $dc_blue;
        }
    }
}

span.section-badge {
    width: max-content;
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: $dc_blue;
    padding: 0.4rem 0.7rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.comic-cards {
    max-width: 100vw;
    overflow-x: scroll;
}

a.comic-card {
    position: relative;
    opacity: 0.7;
    transition: 0.3s;

    &:hover {
        opacity: 1;
    }
}

p.available {
    color: $dc_blue;
}

span.cover-badge {
    color: #fff;
    font-weight: 700;
    background-color: $dc_blue;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-section {
    height: 500px;
    border-bottom: 50px solid $dc_blue;
}

.core-info {
    position: relative;

    h2 {
        color: $dc_dark_blue;
    }
}

div.comic-card {
    position: absolute;
    top: 0;
    transform: translateY(-105%);
    border: 1px solid white;
}

section.spec {
    background-color: #f6f6f6;
    color: $dc_dark_blue;
}

div.specs {
    flex: 1;
    padding: 1rem 0;
    margin-right: 1rem;

    h3 {
        font-weight: 700;
    }

    td:first-child {
        padding-left: 0;
        color: $dc_dark_blue;
        font-weight: 700;
    }
}

span.avail {
    opacity: 0.8;
}

.linkable {
    color: $dc_artists_names;
    font-weight: 700;
}
